<footer>
  <div class="layout">
    <div class="padding-top padding-bottom foot-top">
      <div class="container">
        <div class="line copyright text-center">
          <div class="copy">{pboot:sitecopyright} <a href="https://beian.miit.gov.cn/" target="_blank" rel="nofollow">{pboot:siteicp}</a> <a href="{pboot:sitedomain}/sitemap.xml" target="_blank">XML地图</a> <a href="https://www.pb2345.com/" target="_blank">PB2345</a> {pboot:sitestatistical}</div>
          <div class="foot-link">友情链接：{pboot:link gid=1 num=100}<a href="[link:link]" title="[link:name]" target="_blank">[link:name]</a>{/pboot:link}</div>
        </div>
      </div>
    </div>
  </div>
</footer>
<script type="text/javascript" src="{pboot:sitedomain}/skin/js/sk.js"></script> 
<!--底部版权-->
<div class="blank55"></div>
<div id="toolbar" class="layout text-center">
  <div class="x3"><a href="{pboot:sitedomain}/"><span class="icon-home"></span>首页</a></div>
  <div class="x3"><a href="tel:{pboot:companyphone}"><span class="icon-phone"></span>电话</a></div>
  <div class="x3"><a href="sms:{pboot:companymobile}"><span class="icon-envelope-o"></span>短信</a></div>
  <div class="x3"><a href="{pboot:sort scode=5}[sort:link]{/pboot:sort}"><span class="icon-user"></span>联系</a></div>
</div>
