<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="PAGE-ENTER" content="RevealTrans(Duration=0,Transition=1)" />
<title>{sort:title}</title>
<meta name="keywords" content="{sort:keywords}">
<meta name="description" content="{sort:description}">
<link rel="stylesheet" type="text/css" href="{pboot:sitedomain}/skin/css/pintuer.css" />
<link rel="stylesheet" type="text/css" href="{pboot:sitedomain}/skin/css/animate.min.css" />
<link rel="stylesheet" type="text/css" href="{pboot:sitedomain}/skin/css/style.css" />
<script type="text/javascript" src="{pboot:sitedomain}/skin/js/jquery.min.js"></script>
<script src="{pboot:sitedomain}/skin/js/animate.min.js"></script>
<script type="text/javascript" src="{pboot:sitedomain}/skin/js/pintuer.js"></script>
<script type="text/javascript" src="{pboot:sitedomain}/skin/js/jquery.caroufredsel.packed.js"></script>
<script src="{pboot:sitedomain}/skin/js/main.js"></script>
<!-- FOR IE9 below -->
<!--[if lt IE 9]>
	<script src="js/respond.js"></script>
<![endif]-->

</head>
<body class="inner-box-body" id="article-box-id">
<!-- 顶部导航 begin--> 
{include file=head.html} 
<!-- 顶部导航 end--> 

<!-- 内容展示 begin-->
<div class="layout"  id="fh5co-content_show">
  <div class="container">
    <div class="line">
      <div class="show_content padding-bottom">
        <div class="line show_list">
          <ul class="list-media article-media  not-animated" data-animate="zoomIn" data-delay="200">
            {pboot:list num=5 order=sorting}
            <li>
              <div class="media media-x">
                <div class="media_img float-left"><a  href="[list:link]" ><img src='[list:ico]' alt='[list:title]'></a></div>
                <div class="media-body">
                  <h3><a href="[list:link]" title="[list:title]">[list:title]</a></h3>
                  <p class="desc">[list:description len=200]</p>
                  <div class='time'>[list:date style=Y-m-d]</div>
                </div>
              </div>
            </li>
           {/pboot:list}
          </ul>
        </div>
        {pboot:if({page:rows}>0)}
      <div class="pagebar">
        <div class="pagination">
          <a class="page-item page-link st" href="{page:pre}" title="上一页"><<</a>
          {page:numbar}
          <a class="page-item page-link" href="javascript:;" title="当前页/总页数">{page:current}/{page:count}</a>
          <a class="page-item page-link st" href="{page:next}" title="下一页">>></a>
        </div>
      </div>	
    {else}
      <div class="tac text-secondary">本分类下无任何数据！</div>
    {/pboot:if}
      </div>
    </div>
  </div>
</div>
<!-- 内容展示 end--> 
<!--底部开始-->
{include file=footer.html}
</body>
</html>